.select {
    width: 30%;
    
}
.phone {
    &__filter {
        color: var(--grey-800);
        padding: 14px;
        background-color: white;
        border-radius: 6px;
    }
    &__heading {
        font-size: 2rem;
    margin-bottom: 26px;
    color: var(--grey-800);
    }
    &__container {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 15px 5px 15px 5px;
        border-bottom: 2px solid #ABABAB;
        &__text {
            font-size: 14px;
            color: var(--grey-800)
        }

        &__tick {
            margin-left: auto;
            color: var(--grey-800)
        }
    }
}