.header {
  background-color: #f9f9f9;
  border-bottom: 1px solid #C4C4C4;
  position: fixed;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  // padding: 16px 30px;
  padding-right: 16px;
  padding-left: 16px;
  z-index: 20;

  &__links {
    margin-left: auto;
    display: flex;
    gap: 10px;

    &__link {
      font-size: 20px;
    }
  }

  &__authLinks {
    margin-left: auto;
    display: flex;
    gap: 32px;

    &__link {
      font-size: 18px;
      color: var(--grey-800);
      font-weight: 600;
      cursor: pointer;

      &__active {
        color: var(--primary-color);
        font-weight: 700;
      }
    }
  }

  &__logo {
    cursor: pointer;
  }

  &__pfp {
    margin-left: auto;

    &__image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.phone {
  &__header {
    background-color: #f9f9f9;
    border-bottom: 1px solid #C4C4C4;
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    // padding: 16px 30px;
    padding-right: 16px;
    padding-left: 16px;
    z-index: 20;
    &__logo {
      cursor: pointer;
    }
  
    &__pfp {
      margin-left: auto;
      
      &__image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  
}
