.main {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 40vh;
  &__header {
    width: 100%;
    display: flex;

    &__heading {
      color: var(--grey-800);
    }
  }
  
  &__container {
    margin-top: 10px;
    max-width: 30vw;

    &__text {
      color: var(--grey-300);
      font-size: 18px;
      font-weight: 500;

      & span{
        font-weight: 700;
      }
    }
  }
  &__body {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    margin-bottom: 40px;
    &__error {
      margin-top: 15px;

      color: #ef0f0f;
      font-weight: 700;
      height: 20px;
    }
    &__form {
      display: flex;
      flex-flow: column;
      gap: 30px;

      &__field {
        display: flex;
        flex-flow: column;
        gap: 10px;

        &__content {
          display: flex;
          width: 100%;
          gap: 20px;
          
          &__input {
            width: 100%;
            background-color: white;
          }
          &__inputspecial {
            width: 90%;
            margin-top: 10px;
            max-height: 10px;
            background-color: white;
          }


          &__action {
            margin: auto 0 auto auto;
            height: 30px;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
              transform: rotate(30deg);
            }
          }
        }

        &__label {
          font-size: 18px;
          color: #808080;
          font-weight: 600;
          margin: auto auto auto 0;
        }
      }
    }
  }
  &__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    &__resend {
      margin-right: auto;
      max-height: 40px;
    }
    &__submit {
      color: white;
      border: none;
      border-radius: 4px;
      font-weight: 500;
      font-size: 1rem;
      padding: 0px 50px;
      transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
      height: 50px;

      @media screen and (max-width: 676px) {
        width: 100%;
      }

      &:hover {
        border: none;
      }
    }
  }
}
.cheese {
  transform: scale(0.8);
  margin-left: -5px;
  margin-bottom: -10px;
  cursor: pointer;
}