.main {
  display: flex;
  flex-flow: column;
  margin: 120px auto auto auto;
  overflow-x: hidden;

  &__section {
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 80%;

    &__top {
      &__image {
        width: 150%;
        transform: scale(0.4) translateX(-40%) translateY(-80%);
        transition: all 0.2s;
      }
    }
  }
}
