.primary-button {
  padding: 12px 0;
  font-size: 13.5px;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  border: none;
  transition: all 0.2s;
  height: 50px;
}

.primary-button:hover {
  background-color: var(--primary-color-dark);
  cursor: pointer;
}

.primary-input {
  margin: 0;
  padding: 13px;
  border: 3px solid #e4e7eb;
  color: #3e4c59;
  font-weight: 600;
  font-size: 14px;
  cursor: text;
  border-radius: 4px;
  outline: none;
  /* height: 50px; */
}

.loading-button {
  background-color: var(--primary-color-light);
  color: #fff;
  cursor: default;
}

.loading-button:hover {
  background-color: var(--primary-color-light);
}

/*
Header
*/

.header {
  display: flex;
  /* background-color: red; */
  /* margin-top: -14px; */
  /* margin: 14px; */
}

.header-logo {
  margin: 5px auto auto 0;
  display: flex;
  gap: 10px;
}

.header-logo img {
  height: 34px;
  width: auto;
}

.header-logo div {
  margin: auto;
  color: var(--grey-800);
  font-weight: 700;
  font-size: 19px;
}

.header-navIcon {
  margin: auto 0 auto auto;
  cursor: pointer;
}

.form__toggle {
  --active: rgba(239, 123, 15, 0.2);
  --active-inner: #ef7b0f;
  --border: #ef7b0f;
  --background: #fff;
  --disabled: #e01a1a;
  --disabled-inner: #ffffff;
  --ab: rgba(239, 123, 15, 0.7);
  --bc: rgba(239, 123, 15, 0.7);
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 22px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 2px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  width: 48px;
  border-radius: 30px;
}
.form__toggle:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
    opacity var(--d-o, 0.2s);
}
.form__toggle:checked {
  --b: var(--active);
  --bc: #ef7b0f;
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.form__toggle:disabled {
  --b: var(--disabled);
  cursor: not-allowed;
  opacity: 0.9;
}
.form__toggle:disabled:checked {
  --b: var(--disabled-inner);
  --bc: var(--border);
}
.form__toggle:disabled + label {
  cursor: not-allowed;
}
.form__toggle:hover:not(:checked):not(:disabled) {
  --bc: var(--border-hover);
}
.form__toggle:after {
  /* left: 2px; */
  /* top: 2px; */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: var(--ab, var(--border));
  transform: translateX(var(--x, 0));
}
.form__toggle:checked {
  --ab: var(--active-inner);
  --x: 26px;
}
.form__toggle:disabled:not(:checked):after {
  opacity: 0.6;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: inline-block;
  border: 4px solid var(--primary-color);
  border-left-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: load 0.5s linear infinite;
}

.loader-container {
  margin: auto;
}
