.arcula-notification-iframe {
  position: fixed;
  margin: 0;
  right: 50px;
  height: 380px;
  border: none;
  width: 340px;
  z-index: 30000000000000000000000000000000000000;
  overflow: hidden;
  padding: 0;
  top: 0;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  animation: show 0.2s forwards;
}

.arcula-copy-iframe {
  position: absolute;
  margin: 0;
  right: 50px;
  height: 400px;
  border: none;
  width: 340px;
  z-index: 30000000000000000000000000000000000000;
  overflow: hidden;
  padding: 0;

  border-radius: 0px 0px 6px 6px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  animation: show 0.2s forwards;
}

.arcula-notification-iframe-hidden {
  animation: close 0.2s forwards;
}

@keyframes show {
  0% {
    opacity: 0;
    top: -359px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes close {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -359px;
  }
}
