@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import './components.css';
html,
body {
  margin: 0;
  padding: 10px;
  min-width: 340px;
  min-height: 360px;
  max-height: 360px;
  background-color: #f9f9f9;
  display: flex;
  flex-flow: column;
}

* {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

:root {
  --primary-color: #ef7b0f;
  --primary-color-light: #d38c49;
  --primary-color-dark: #d36f12;
  --grey-800: #3e4c59;
  --grey-300: #606060;
  --grey-200: #8b8787;
  --grey-100: #7e7e7e;
}

.container {
  background-color: white;
  border-radius: 6px;
  padding: 16px;
  flex-flow: column;
}

::-webkit-scrollbar {
  border-radius: 6px;
  width: 4px;
  background-color: #f5c497;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  width: 4px;
  background-color: var(--primary-color-dark);
}
