.identities-heading {
  font-size: 19px;
  font-weight: 700;
  color: var(--grey-800);
  margin: 16px 8px 12px 8px;
}
.identity-div {
  margin: 10px 8px;
  border-radius: 6px;
  border: 3px solid #e4e7eb;

  padding: 12px;
}
.identity-img {
  height: 32px;
  width: 32px;
  border-radius: 4px;
}
.identity-email {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 16px;
  color: var(--grey-800);
}
.identity-copy {
  cursor: pointer;
  display: flex;
  justify-content: right;
  gap: 16px;
  font-size: 12px;
  transition: all 0.2s;
}
.identity-copy *:hover {
  color: var(--primary-color-dark) !important;
}
.identity-copy-mail {
  font-size: 15px;
  color: var(--primary-color);
}
.identity-copy-password {
  font-size: 15px;
  color: var(--primary-color);
}
.identity-locktick {
  margin-left: auto;
  width: 24px;
  height: 24px;
}
.identity-middle {
  display: flex;
  align-items: center;
}
.identities-heading {
  font-size: 20px;

  color: var(--grey-800);
}
