.container {
  display: flex;
  height: 100%;
  flex-flow: column;
  gap: 20px;
}

.container-heading {
  color: var(--grey-800);
  font-size: 24px;
  font-weight: 700;
}

.container-form {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.container-form-field {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.container-form-field-label {
  color: var(--grey-800);
  font-size: 15px;
  font-weight: 700;
}

.container-form-error {
  height: 15px;
  color: rgb(255, 72, 0);
  font-size: 14px;
  font-weight: 700;
}

.container-form-footer {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.container-form-footer-label {
  display: flex;
  margin: auto;
  width: fit-content;
  font-size: 14px;
  font-weight: 700;
  color: var(--grey-800);
  gap: 5px;
}

.container-form-footer-label p {
  color: var(--primary-color);
  cursor: pointer;
  margin: auto;
  transition: all 0.2s;
}

.container-form-footer-label p:hover {
  color: var(--primary-color-dark);
}
