html,
body {
  max-height: 380px;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.user {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-name {
  font-size: 20px;
  font-weight: 700;
  color: var(--grey-800);
  margin-bottom: 5px;
}

.user-email {
  font-size: 15px;
  font-weight: 600;
  color: var(--grey-200);
}

.settings {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
}
.settings-heading {
  font-size: 19px;
  font-weight: 700;
  color: var(--grey-800);
  margin-bottom: 10px;
}

.settings-container {
  display: flex;
  flex-flow: column;
}

.settings-container-form {
  display: flex;
  flex-flow: column;
}

.settings-container-form-field {
  display: flex;
  flex-flow: column;
}

.settings-container-form-field-main {
  display: flex;
  width: 100%;
}

.settings-container-form-field-main-label {
  color: #6d6d6d;
  font-size: 16px;
  font-weight: 700;
  margin: auto auto auto 0;
}

.settings-container-form-field-info {
  color: var(--grey-100);
  font-weight: 500;
  font-size: 14px;
  margin-top: 6px;
}

.logout {
  width: fit-content;
  margin: 20px auto auto auto;
  background-color: rgba(255, 0, 0, 0.19);
  color: #ff0000;
  padding: 12px 28px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 15px;
  font-weight: 500;
}

.logout:hover {
  background-color: rgba(255, 0, 0, 0.25);
}
