@import "variables/master.scss";
@import "../node_modules/react-toastify/dist/ReactToastify.min.css";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  font-family: "Inter";
  scroll-snap-type: y mandatory !important;
  scroll-behavior: smooth ;
 
  
}

* {
  font-family: "Inter" !important;
}

a {
  text-decoration: none;
}

::selection {
  background: var(--primary-color);
  color: white;
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-select {
  position: absolute !important;
  /* box-sizing: border-box; */
  /* z-index: 1; */
  right: 0;
  top: 0;
}

.loader-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
