.button {
  font-size: 15px;
  padding: 11.5px 28px 11.5px 28px;
  font-weight: 600;
  position: relative;
  color: #ff0000;
  border: none;
  border-radius: 4px;
  background-color: rgba(#ff0000, 0.2);
  height: 50px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  align-items: center;
  &:hover {
    background-color: rgba(#ff0000, 0.3);
  }

  &--disabled {
    background-color: rgba(#ff0000, 0.12);
    color: rgba(#ff0000, 0.7);
    cursor: not-allowed;

    &:hover {
      background-color: rgba(#ff0000, 0.12);
    }
  }
}

.loader {
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
