body {
  margin: 0;
  padding: 0;
  width: 340px;
  height: 359px;
  background-color: #ffffff;
}
html,
body {
  overflow: hidden;
}
.notification {
  background-color: #f9f9f9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 20px;
  display: flex;
  flex-flow: column;
}

.notification-content {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 10px;
  height: 100%;
  border-radius: 6px;
}
.notification-actions-buttons {
  display: flex;
  flex-flow: column;
  gap: 8px;
  margin-top: auto;
}
#identityName {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
  color: var(--grey-800);
  font-weight: 600;
}

.notification-actions-button {
  padding: 12px 0;
  font-size: 13.5px;
  font-weight: 600;
  background-color: rgba(239, 123, 15, 0.2);
  color: var(--primary-color);
  border-radius: 6px;
  border: none;
  transition: all 0.2s;
  height: 50px;
}
.notification-actions-button:hover {
  cursor: pointer;
  background-color: rgba(239, 123, 15, 0.25);
}
.notification-actions-unique {
  padding: 12px 0;
  font-size: 13.5px;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  border: none;
  transition: all 0.2s;
  height: 50px;
}

.notification-actions-unique:hover {
  background-color: var(--primary-color-dark);
  cursor: pointer;
}

.password-disabled:hover {
  cursor: not-allowed;
  background-color: rgba(239, 123, 15, 0.2);
}
