body {
  margin: 0;
  padding: 0;
  width: 340px;
  height: 359px;
  background-color: #ffffff;
}
html,
body {
  overflow: hidden;
}

* {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

:root {
  --primary-color: #ef7b0f;
  --primary-color-light: #d38c49;
  --primary-color-dark: #d36f12;
  --grey-800: #3e4c59;
  --grey-300: #606060;
  --grey-200: #8b8787;
}

.notification {
  background-color: #f9f9f9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 32px;
  display: flex;
  flex-flow: column;
}

.notification-close {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.notification-content {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 12px;
  height: 100%;
  border-radius: 6px;
}

.notification-content-website {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

#websiteIcon {
  margin: auto;
  height: 38px;
  width: 38px;
  max-height: 38px;
  max-width: 38px;
  margin-top: 10px;
}

#websiteURL {
  margin: auto;
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
  width: fit-content;
}

.notification-content-message {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  gap: 7px;
}
#status-message {
  margin: auto;
  font-size: 16px;
  font-weight: 700;
  color: var(--grey-800);
  width: fit-content;
  text-align: center;
}

.notification-content-actions {
  margin-top: auto;
  /* margin-bottom: 12px; */
  display: flex;
  flex-flow: column;
}

.secondary-text {
  margin: 4px 0 18px 0;
  color: #808080;
}
.icon {
  color: #ef7b0f;
  height: 20px;
  width: 45px;
  display: block;
  margin-left: 6px;
  cursor: pointer;
  transition: all 0.2s;
}
.icon:hover {
  transform: rotate(30deg);
}
.flex-div {
  display: flex;
  align-items: center;
}

.notification-actions-unique {
  padding: 12px 0;
  font-size: 13.5px;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 6px;
  border: none;
  transition: all 0.2s;
  height: 50px;
  /* margin-top: 18px; */
}

.notification-actions-unique:hover {
  background-color: var(--primary-color-dark);
  cursor: pointer;
}
