.container {
  &__background {
    background-image: url("/background.svg");
    background-size: cover;
  }

  &__header {
    height: 120px;
    display: flex;
    align-items: center;
    width: 100%;
    
    &__logo {
      height: 60px !important;
      margin-left: 40px;
    }

    &__primary {
      margin-left: auto;
      width: 135px;
      width: 135px;
      height: 57px;
      padding: 0px;
      font-size: 17px;
      background-color: transparent;
    }

    &__thirdary {
      width: 135px;
      height: 57px;
      margin: 0 40px;
      font-size: 16px;
      background-color: #FFF !important;
    }
  }

  &__main {
    display: flex;

    height: calc(100vh - 80px);

    margin: 0 auto 0 auto;
 
    
    &__content {
      display: flex;
      height: 100%;
      width: 100%;
      margin-top: 40px;
      &__text {
        width: 100%;
        height: 100%;
        &__heading {
          text-align: center;
          font-size: 52px;
          font-weight: 800;
          color: rgba(#FFF, 0.85);
          margin: 0;
        }

        &__name {
          margin: 0;
          color: #FFF;
          text-align: center;
          font-size: 60px;
          font-weight: 900;
        }

        &__buttons {
          display: flex;
          margin: 0 auto;
          width: 100%;
          margin-top: 30px;
          align-items: center;
          justify-content: center;
          gap: 25px;

          &__button {
            width: 245px;
            background-color: rgba(#FFF, 0.85) !important;
          }
          &__buttontwo {
            width: 245px;
            background-color: rgba(#FFF, 0.15) !important;
            color: #FFF !important;
          }
        }
        
        &__mockups {
          display: flex;
          align-items: center;
          gap: -40px;
          max-width: 1150px;
          
          margin-top: 50px;
          margin: 50px auto 0 auto;
          &__mockup1 {
            height: 85vh !important;
            min-height: 700px !important;
           
          }
          &__mockup2 {
            min-height: 600px;
            height: 75vh !important;
          }
          &__mockup3 {
            min-height: 600px;
            height: 75vh !important;
          }
        }
        
      }
      
      
    }
  }

  &__why {
    width: 70vw;
    max-width: 1350px;
    margin: 60px auto 0 auto;

    &__heading {
      color: var(--grey-800);
      font-size: 32px;
      font-weight: 800;
      margin-bottom: 20px;
      &__color {
        color: var(--primary-color)
      }

    }
    &__content {
      margin-top: 0px;
      color: var(--grey-300);
      font-size: 17px;
      font-weight: 500;

      &__bold {
        color: var(--grey-800);
        font-weight: 700;
        
      }
      &__app {
        color: var(--primary-color);
        font-weight: 700;
        font-size: 17.4;
      }
    }
    
  }

  &__features {
    
  
    display: flex;
    width: 70vw;
    max-width: 1350px;
    gap: 30px;
    margin: 0 auto 0 auto;
    justify-content: center;
    z-index: 2;
    
  }
  &__featurecontainer {
    margin-top: 360px;
    padding: 40px 0;
    position: relative;
    background-image: url("/backgroundlight.svg");
  }

  

  &__expanded {
    margin-top: 40px;
    margin: 60px auto 0 auto;
 
    width: 100%;
    display: flex;

    flex-flow: column;
  

    &__heading {
      color: var(--grey-800);
      font-size: 28px;

      &__color {
        color: var(--primary-color)
      }

    }
    &__content {
      color: var(--grey-300);
      font-size: 16px;
    }
    
  }
  &__priceheading {
    width: 70vw;
    margin: 100px auto 30px auto;
    max-width: 1350px;
    &__heading {
      font-size: 36px;
      font-weight: 800;
      color: var(--grey-800);
    }
  }
  &__pricing {
    display: flex;
    margin: 40px auto 20px auto;
    width: 70vw;
    max-width: 1350px;
    gap: 30px;
  }

  &__end {
    padding-top: 60px;
    padding-bottom: 20px;
    height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;

    &__content {
      text-align: center;
      &__semi {
        font-size: 34px;
        color: var(--grey-800);
        margin-bottom: 1px;
      }
      &__caption {
        margin-top: 4px;
        font-size: 44px;
        color: var(--grey-800);
        font-weight: 800;

        &__color {
          color: var(--primary-color)
        }
      }
      &__buttons {
        margin: 0 auto 0 auto;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 40px;

        &__button {
          justify-content: flex-start !important;
          display: flex !important;
          font-size: 14px !important;
          gap: 10px !important;
          padding: 0 !important;
          margin: 0 !important;
          width: 260px !important;
        }
      }

      &__mockup {

        height: 70vh !important;
      }
    }
  }
}
