.tabs {
  margin: 0px auto auto auto;
  display: flex;
  gap: 20px;

  &__tab {
    font-weight: 700;
    font-size: 18px;
    color: var(--grey-800);
    padding: 12px 24px 10px 24px;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: all 0.2s;
    border-bottom: 3px solid transparent;

    &:hover {
      background-color: var(--primary-button-light);
    }

    &__active {
      background-color: var(--primary-button);
      border-bottom: 3px solid var(--primary-color);

      &:hover {
        background-color: rgba(255, 125, 4, 0.3);
      }
    }
  }
}

.phone {
  &__tabs {
    margin: 0px auto auto auto;
    display: flex;
    gap: 2px;
    margin-top: -70px;
    margin-bottom: -20px;
  
    &__tab {
      font-weight: 700;
      font-size: 16px;
      color: var(--grey-800);
      padding: 12px 24px 10px 24px;
      display: flex;
      text-align: center;
      align-items: center;
      cursor: pointer;
  
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      transition: all 0.2s;
      border-bottom: 3px solid transparent;
  
      &:hover {
        background-color: var(--primary-button-light);
      }
  
      &__active {
        background-color: var(--primary-button);
        border-bottom: 3px solid var(--primary-color);
  
        &:hover {
          background-color: rgba(255, 125, 4, 0.3);
        }
      }
    }
  }
  
}