.container {
  background-image: url("/backgroundlight.svg");
  background-size: cover;
  


  &__main {
    display: flex;
    scroll-snap-align: center !important;
    height: calc(100vh);
    align-self: center;
    width: 70vw;
    margin: 0 auto 0 auto;
    &__content {
      margin-top: 10%;
      width: 100%;
      margin-right: auto;
      display: flex;
      flex-flow: column;

      &__heading {
        margin-top: 0;
        color: var(--grey-800);
        font-size: 38px;
        font-weight: 800;
      }
      &__features {
          display: flex;
          flex-flow: column;
          gap: 15px;
          &__item {
              display: flex;
              align-items: center;
              gap: 12px;
              &__text {
                  font-weight: 600;
                  color: var(--grey-800);
                  font-size: 20px;
                  margin: 0 0 0 0;
              }
              &__tick {
                  color: var(--primary-color);
              }
          }
      }
      &__button {
          margin-top: 80px;
          width: 200px;
      }
    }

    &__image {
  
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: fit-content;

      &__image {
          height: 80% !important;
          width: auto !important;
      }
    
    }
  }
}

.left {

&__main {
    display: flex;

    height: calc(100vh);
    align-self: center;
    width: 72vw;
    margin: 0 auto 0 auto;
    &__content {
    margin-top: 10%;
   
    margin-left: auto;
    display: flex;
    flex-flow: column;

    &__heading {
        margin-top: 0;
        color: var(--grey-800);
        font-size: 38px;
        font-weight: 800;
    }
    &__features {
        display: flex;
        flex-flow: column;
        gap: 15px;
        &__item {
            display: flex;
            align-items: center;
            gap: 12px;
            &__text {
                font-weight: 600;
                color: var(--grey-800);
                font-size: 20px;
                margin: 0 0 0 0;
            }
            &__tick {
                color: var(--primary-color);
            }
        }
    }
    &__button {
        margin-top: 80px;
        width: 200px;
    }
    }

    &__image {
    width: fit-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    

    &__image {
        height: 90% !important;
        width: auto !important;
    }
    }
}
}

