.input {
  border-radius: 6px;
  border: 3px solid #e4e7eb;
  padding: 20px;
  outline: none;
  font-size: 18px;
  color: var(--grey-800);
  font-weight: 600;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.eye {
  position: absolute;
  right: 20px;
  color: #c0c4c9;
  cursor: pointer;
}
