.container {
    margin-top: 40px;
    display: flex;
    gap: 70px;
    align-self: center;
   
    &__main {
       margin-top: 40px;
        width:50%;
        margin-right: auto;
        display: flex;
        flex-flow: column;
     
        &__heading {
            margin-top: 0;
            color: var(--grey-800);
            font-size: 28px;

        }
        &__paragraph {
            color: var(--grey-300);
            font-size: 16px;
        }
    }
    &__image {
        margin-left: auto;
        border-radius: 5px;
        display: flex;
        align-items: center;
        border: 2px solid #ABABAB;
        position: relative !important;
        width: 500px;
        height: 400px;
        &__im {
            
            border: 3px solid #ABABAB;
        }
    }
}
.left {
    margin-top: 40px;
    display: flex;
    gap: 70px;
    align-self: center;
  
    &__main {
        width:50%;
        margin-left: auto;
        display: flex;
        flex-flow: column;
        margin-top: 40px;
        &__heading {
            margin-top: 0;
            
            color: var(--grey-800);
            font-size: 28px;

        }
        &__paragraph {
            color: var(--grey-300);
            font-size: 16px;
        }
    }
    &__image {
        margin-right: auto;
        border-radius: 5px;
        display: flex;
        align-items: center;
        border: 2px solid #ABABAB;
        position: relative;
        width: 500px;
        height: 400px;
        &__im {
            
            border: 3px solid #ABABAB;
        }
    }
}