.primary {
  font-size: 15px;
  padding: 11.5px 28px 11.5px 28px;
  font-weight: 600;
  position: relative;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  height: 50px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  align-items: center;
  &:hover {
    background-color: var(--primary-color-dark);
  }
}
.primaryLoading {
  font-size: 15px;
  padding: 11.5px 28px 11.5px 28px;
  font-weight: 600;
  position: relative;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #e99b51;
  height: 50px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: not-allowed;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #e99b51 !important;
  }
}

.loader {
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}