.verifyEmail {
  height: calc(100vh - 102px);
  width: 100%;
  //   background-color: red;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  &__heading {
    color: var(--grey-800);
    text-align: center;
  }

  &__content {
    color: var(--grey-300);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    width: 50%;
    margin-bottom: 50px;
  }
}
