.searchbar {
  display: flex;
  border: 3px solid #e4e7eb;
  padding: 15px 20px;
  border-radius: 6px;
  background-color: white;

  &__input {
    background-color: transparent;
    border: none;
    outline: none;

    color: var(--grey-800);
    font-weight: 600;
    font-size: 15px;
    width: 100%;
  }

  &__icon {
    margin: auto 0 auto auto;
    cursor: pointer;
  }
}
.phone {
  &__searchbar {
    display: flex;
    border: 3px solid #e4e7eb;
    padding: 15px 20px;
    border-radius: 6px;
    background-color: white;
    
    &__input {
      background-color: transparent;
      border: none;
      outline: none;
  
      color: var(--grey-800);
      font-weight: 600;
      font-size: 15px;
      width: 100%;
    }
  
    &__icon {
      margin: auto 0 auto auto;
      cursor: pointer;
    }
  }
}