.inbox {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-flow: column;
  margin: auto;

  &__header {
    margin: auto;
    display: flex;
    flex-flow: column;
    width: 55%;
    gap: 30px;
    margin-top: 0px;

    &__top {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      &__heading {
        font-size: 28px;
        color: var(--grey-800);
        font-weight: 700;
      }

      &__actions {
        display: flex;
        align-items: center;
        &__button {
          color: var(--primary-color);
          font-weight: 600;
          cursor: pointer;
          transition: all 0.2s;
          font-size: 16px;
          border: none;
          background-color: transparent;
          margin-left: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 6px 10px;
          border-radius: 6px;

          &:hover {
            color: var(--primary-color-dark);
            background-color: var(--primary-button);
          }
        }
      }
    }
    &__phone {
      &__bottom {
        display: flex;
        width: 100%;
        position: relative;
        gap: 12px;
       
        align-items: center;
        
        &__searchbar {
          width: 95%;
          
        }
      }
    }
    &__bottom {
      display: flex;
      width: 100%;
      position: relative;
      gap: 12px;
      justify-content: center;
      align-items: center;
      &__phone {
        &__searchbar {
          width: 82%
        }
      }
      &__searchbar {
        width: 70%;
      }
    }
  }

  &__body {
    margin: 30px auto;
    width: 55%;
  }
}

@media (max-width: 1300px) {
  .inbox {
    &__header {
      width: 60%;
    }
    &__body {
      width: 60%;
    }
  }
}
@media (max-width: 1100px) {
  .inbox {
    &__header {
      width: 80%;
    }
    &__body {
      width: 80%;
    }
  }
}
@media (max-width: 850px) {
  .inbox {
    &__header {
      width: 90%;
    }
    &__body {
      width: 90%;
    }
  }
}
