.landing {
  &__logo {
    //   transform: scale(7);
    //   width: 400px;
    //   viewBox: 0 0 400px 400px;
    // font-size: 5px;
    // size: 10vw;
    // width: 20px;
    // height: 20px;
    @media (max-width: 1280px){
        display: none;
    }
  }

  &__get-started-btn {
    width: 180px;
    margin-top: 20px;
  }

  &__main {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    // background-color: red;
    // margin-top: -50px;

    @media (max-width: 1280px){
        justify-content: center;
    }

    &__left {
      display: flex;
      flex-direction: column;

      @media (max-width: 1280px){
        justify-content: center;
        align-items: center;
    }

      & span {
        font-weight: 900;
        font-size: 50px;
        color: var(--grey-800);
        text-align: left;
        width: 100%;

        @media (max-width: 1280px){
            text-align: center;
        }
        @media (max-width: 410px){
            font-size: 40px;
        }
      }
    }
  }
}
