.main {
  display: flex;
  flex-flow: column;
  // height: 100vh;
  width: 100%;
  margin-top: 0px;
  
  // height: 100;
  background-color: #f9f9f9;
  overflow-y: hidden;

  &__content {
    margin-top: 80px;
    background-color: #f9f9f9;
    overflow-y: hidden;
  }
  &__landing {
    margin-top: 0px !important;
  }
}
