.profile {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: 30px;
  &__masterbutton {
    width: 205px;
    height: 60px;
    margin: 0 auto;
  }
  &__avatar {
    margin: auto;
    max-width: 200px;
    max-height: 200px;

    &__src {
      width: 100%;
      height: 100%;
    }
  }
  &__masterbanner {
    display: flex;
    margin: 36px auto 20px auto;
    width: 50%;
    align-items: center;
    background-color: rgba($color: #ef7b0f, $alpha: 0.2);
    border-radius: 6px;
    padding: 0 0 0 5px;
    &__para {
      padding: 10px 0;
      width: 80%;
      font-size: 16px;
      margin-left: 15px;
      color: var(--primary-color);
    }
    &__button {
      margin-left: auto;
      margin-right: 15px;
      padding: 8px 46px 8px 46px;
    }
  }
  &__info {
    margin: 40px auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    gap: 8px;

    &__name {
      font-size: 28px;
      font-weight: 700;
      color: var(--grey-800);
      margin: auto;
    }
    &__email {
      margin: auto;
      color: #888888;
      font-weight: 600;
      font-size: 17px;
    }
  }

  &__logout {
    margin: auto;
    margin-top: 100px;
    display: flex;
    gap: 20px;
    width: 50%;
    justify-content: center;
  }
}

@media (max-width: 1300px) {
  .profile {
    &__masterbanner {
      width: 60%;
    }
    &__logout {
      width: 60%;
    }
  }
}
@media (max-width: 1100px) {
  .profile {
    &__masterbanner {
      width: 80%;
    }
    &__logout {
      width: 80%;
    }
  }
}
@media (max-width: 850px) {
  .profile {
    &__masterbanner {
      width: 90%;
    }
    &__logout {
      width: 90%;
    }
  }
}
