.error {
    margin:6vh auto 0 auto;
    text-align: center;

    &__frowncontainer {
        &__frown {
            color: var(--primary-color);
            font-size: 80px;
            margin-bottom: 40px;
        }
    }
    &__messagecontainer {
        font-size: 20px;
        color: var(--grey-800)
    }
    
}