.container {
  display: flex;
  flex-flow: column;
  width: fit-content;
  margin: auto;
  padding: 40px;
  background-color: white;
  border-radius: 6px;
  // justify-content: center;
  // align-items: center;

  min-width: 30vw;
  min-height: 30vh;
  max-height: fit-content;

  &__header {
    display: flex;
    width: 100%;

    &__heading {
      font-size: 32px;
      font-weight: 700;
      margin: auto auto auto 0;
      color: var(--grey-800);
    }
  }

  &__content {
    display: flex;
    flex-flow: column;
    margin-top: 30px;

    &__form {
      display: flex;
      flex-flow: column;
      gap: 20px;

      margin-top: 30px;

      &__field {
        display: flex;
        flex-flow: column;
        gap: 5px;

        &__label {
          font-size: 18px;
          font-weight: 700;
          color: var(--grey-800);
          margin: auto auto auto 0;
        }

        &__input {
          font-size: 18px;
          font-weight: 600;
          color: var(--grey-800);
          outline: none;
          border: none;
          border-radius: 6px;
          padding: 8px 16px;
          box-sizing: border-box;
          width: 100%;
          height: 60px;
          margin: auto auto auto 0;
          background-color: white;
          transition: all 0.2s;
          border: 4px solid #e4e7eb;
        }
      }

      &__error {
        color: #ef0f0f;
        font-weight: 700;
        margin: auto auto auto 0;
        height: 20px;
        text-align: center;
        width: fit-content;

        p {
          margin: auto;
        }
      }
      &__footer {
        display: flex;
        width: 100%;
        &__forgot {
          margin: auto 0;
          max-height: 35px;
        }
        &__submit {
          font-size: 16px;
          font-weight: 600;
          color: white;
          outline: none;
          border: none;
          border-radius: 4px;

          width: fit-content;
          margin: auto 0 auto auto;
          transition: all 0.2s;
          border: none;
          width: 180px;
          &:hover {
            border: none;
          }

        }
      }
    }
  }
}
