.card {
  display: flex;
  flex-flow: column;
  text-align: left;
  padding: 20px 20px 25px 20px;
  cursor: pointer;
  margin-bottom: 14px;

  &__seen {
    border-bottom: 1px solid #c4c4c4;
  }

  &__recent {
    background-color: white;
    border-radius: 6px;
  }

  &__header {
    display: flex;
    width: 100%;
    position: relative;

    &__subject {
      font-size: 22px;
      color: var(--grey-800);
      font-weight: 700;
      max-width: 60%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: auto auto auto 0;
    }

    &__to {
      font-size: 14px;
      padding: 8px 16px;
      background-color: var(--primary-button);
      border-radius: 6px;
      margin: auto 0 auto auto;

      font-size: 16px;

      &__text {
        color: var(--primary-color);

        font-weight: 600;
      }
    }

    &__dots {
      cursor: pointer;
      margin: auto 0 auto 10px;
    }
  }

  &__info {
    display: flex;
    gap: 7px;
    color: var(--primary-color);
    font-weight: 600;

    &__separator {
      margin: auto 0 auto 0;
    }
  }

  &__body {
    margin: 15px auto auto 0;
    max-width: 95%;
    max-height: 40%;

    &__text {
      font-size: 16px;
      color: #989898;
      font-weight: 600;
      text-overflow: ellipsis;
      max-height: 100%;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
.phone {
  &__card {
    &__header {
      margin-top: -4px;
      display: flex;
      align-items: center;
      &__from {
        font-size: 18px;
        font-weight: bold;
        color: var(--grey-800);
      }
      &__date {
        margin-left: auto;
        color: var(--grey-300);
        font-weight: bold;
        font-size: 14px;
      }
    }
    &__info {
      &__to {
        &__text {
          color: var(--primary-color);
          font-size: 13px;
          font-weight: 700;
          &__grey {
            color: var(--grey-300);
          }
        }
      }
    }

    &__content {
      margin-top: 6px;
      display: flex;
      align-items: center;
      margin-bottom: -8px;
      &__subject {
        font-size: 18px;
        color: var(--grey-800);
        font-weight: bold;

        text-overflow: ellipsis;
        max-height: 100%;
        overflow: hidden;
        white-space: nowrap;
        height: 24px;
        line-height: 22px;
      }
    }
  }
}
