<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Forgot Password</title>
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

      p, h1, h2, h3, h4, ol, li, ul {
         font-family: "Inter", "Whitney", "Helvetica", sans-serif !important; 
      }
      * {
         font-family: "Inter", "Whitney", "Helvetica", sans-serif !important; 
      }
    </style>
  </head>
  <body>
    <div style='background:#f9f9f9'>
      <div style='background-color:#f9f9f9'>

        <div
          style='margin:0 auto;max-width:640px;background:transparent'
        ><table
            role='presentation'
            cellpadding='0'
            cellspacing='0'
            style='font-size:0px;width:100%;background:transparent'
            align='center'
            border='0'
          ><tbody><tr><td
                  style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 0px'
                ><div
                    aria-labelledby='mj-column-per-100'
                    class='m_-3253439812195302607mj-column-per-100'
                    style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%'
                  ><table
                      role='presentation'
                      cellpadding='0'
                      cellspacing='0'
                      width='100%'
                      border='0'
                    ><tbody><tr><td
                            style='word-break:break-word;font-size:0px;padding:0px'
                            align='center'
                          ><table
                              role='presentation'
                              cellpadding='0'
                              cellspacing='0'
                              style='border-collapse:collapse;border-spacing:0px'
                              align='center'
                              border='0'
                            ><tbody><tr><td style='width:138px'><a
                                      href='https://arcula.co'
                                      target='_blank'
                                      
                                    ><img
                                        alt=''
                                        title=''
                                        height='auto'
                                        src='https://media.discordapp.net/attachments/935516197175316503/955738137781502003/Group_11_1.png'
                                        width='160'
                                        class='CToWUd'
                                      /></a></td></tr></tbody></table></td></tr></tbody></table></div></td></tr></tbody></table></div>
        <div
          style='max-width:640px;margin:0 auto;border-radius:4px;overflow:hidden'
        ><div style='margin:0px auto;max-width:640px;background:#ffffff'><table
              role='presentation'
              cellpadding='0'
              cellspacing='0'
              style='font-size:0px;width:100%;background:#ffffff'
              align='center'
              border='0'
            ><tbody><tr><td
                    style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 50px'
                  ><div
                      aria-labelledby='mj-column-per-100'
                      class='m_-3253439812195302607mj-column-per-100'
                      style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%'
                    ><table
                        role='presentation'
                        cellpadding='0'
                        cellspacing='0'
                        width='100%'
                        border='0'
                      ><tbody><tr><td
                              style='word-break:break-word;font-size:0px;padding:0px'
                              align='left'
                            ><div
                                style='color:#737f8d;font-family:Inter,Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:16px;line-height:24px;text-align:left'
                              >

                                <h2
                                  style='font-family:Inter,Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-weight:700;font-size:20px;color:#3e4c59;letter-spacing:0.1px'
                                >Hey <span style='font-family:Inter,Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-weight:700;font-size:20px;color:#ef7b0f;letter-spacing:0.1px'>{{name}}</span>,</h2>
                                <p style="font-weight:500;color:#606060;">This email was sent to you as you requested to change your
                                  <span style="color:#ef7b0f;font-weight:600;">Arcula</span> password. Click below to
                                  verify your email address and reset it:</p>

                              </div></td></tr><tr><td
                              style='word-break:break-word;font-size:0px;padding:10px 25px;padding-top:20px'
                              align='center'
                            ><table
                                role='presentation'
                                cellpadding='0'
                                cellspacing='0'
                                style='border-collapse:separate'
                                align='center'
                                border='0'
                              ><tbody><tr><td
                                      style='border:none;border-radius:3px;color:white;padding:15px 19px'
                                      align='center'
                                      valign='middle'
                                      bgcolor='#ef7b0f'
                                    ><a
                                        href={{url}}
                                        style='text-decoration:none;line-height:100%;background:#ef7b0f;color:white;font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:15px;font-weight:normal;text-transform:none;margin:0px;padding:4px 10px;'
                                        target='_blank'
                                        
                                      >
                                        Reset Password
                                      </a></td></tr></tbody></table></td></tr><tr
                          ><td
                              style='word-break:break-word;font-size:0px;padding:30px 0px'
                            ><p
                                style='font-size:1px;margin:0px auto;border-top:1px solid #dcddde;width:100%'
                              ></p></td></tr><tr><td
                              style='word-break:break-word;font-size:0px;padding:0px'
                              align='left'
                            ><div
                                style='color:#606060;font-size:24px;font-weight:500;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:17px;line-height:16px;text-align:center;margin-top:-14px;'
                              >
                                <p class="">Or manually enter this url: 
                                  <br/>
                                  <br/>
                                  <span style="color:#3e4c59 !important; text-decoration:none !important">
                                    <a href={{url}} style="color:#3e4c59 !important; font-weight:500; font-size:18px; text-decoration:none !important">{{url}}</a>
                                    </span>
                                </p>

                              </div></td></tr></tbody></table></div></td></tr></tbody></table></div>
        </div></div>
      <img
        src='https://ci3.googleusercontent.com/proxy/_YdM56j_vDCM3Ojs92UBLz0eV5A28zvUUA6N1p94xeRd0loqSX3AEa15-43QsoZKOAi3sVqoa0Np77sCxmEnDBwbYdr9Uq5Ek4P85q4PmhdXi26uz-tS1tYvAQNBIWYKOt0TdCRZNiNWdOWZZeLAwZPgyd5fnLw3Nyqwx8YE6HjtG4qQ-CcD_aA8eQXs0FWymjt6eW8ey8oxl9LszrOKkASDJ7ZT03Y7754MimCUYZerz7AYIoBJFA2hDg4DXa3sPNknCKw15X4C3wOsQ1LTia7wgcs3MLj36Op7NextHJFeZVP0u6K5SMB8gxaysJOoJ15Esbo5D8UV_mZSjsW0Hrvz7DeF_SxTR_TjHiCVcN_BhA3LL8UlQa-qJirUm6Xnzh2vMKSpVH-Tf-VnvOhvRh9jv1UYf8EYZWaKMTowHfXFHM5FqeRzPOYrRD7BPrwLTGuC75MbfqlcmZLZeLY=s0-d-e1-ft#https://click.discord.com/wf/open?upn=29tOo0QyN0tFPzRuyekwn2M5yG1l5PN8Sk-2BxmrYjmkXSnwZJJ8DPz2ShQCckAeWAThKsUusXAauPrvikQLePUlEbct3BjBMbZr-2FLVO1W7gI8HxT90Wfgpc0S74VZr5zVfEhKDu9ZF6xnFqfEowL0wj4j9Y0kmh9NZ3YBOQ32omCrz9xiEb2PFWWdHblQEahRviPfJ4QNKAPCkTc5n-2Bpp5iGDG-2F9kxsTWEB2M0HmQZEfX4qbJPjlzCYeTYgfGzdxrpHykTzClS1RZb4hKtYOCgQ-3D-3D'
        alt=''
        width='1'
        height='1'
        border='0'
        style='height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important'
        class='CToWUd'
      /></div>
  </body>
</html>