.card {
  flex-basis: 100%;
  display: flex;
  flex-flow: column;
 
  background-color: white;
  border: 3px solid #e4e7eb;
  border-radius: 6px;
  padding: 20px 20px 20px 20px;

  &__header {
    &__logo {
      width: 40px;
      height: 40px;
    }
  }

  &__content {
    display: flex;
    flex-flow: column;
    &__heading {
      margin-top: 2%;
      &__text {
        font-size: 20px;
        font-weight: 800;
        margin: auto auto auto 0;
        color: var(--grey-800);
      }
    }

    &__body {
      margin: -1.5% auto auto 0;
      &__text {
        font-size: 16px;
        font-weight: 600;
        color: var(--grey-300);
      }
    }
  }
}
