.main {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-top: 40px;
  
    &__phone {
      &__dots {
        display: block;
        cursor: pointer;
        margin-left: auto;
        margin-right: 4px;
      }
    }
    &__dotmenu {
        position: absolute;
        right: 8px;
        top: 10px;
        background-color: #fff;
      width: 200px;
        border-radius: 6px;
        box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.25);
        transform-origin: top right;
        animation: popup 0.15s forwards;

        &__redcontainer {
          display: flex;
          align-items: center;
          background-color: rgba($color: #ff0000, $alpha: 0.2);
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;

          &__deleting {
            display: flex;
            align-items: center;
            cursor: default;
            &:hover {
              background-color: rgba($color: #ff0000, $alpha: 0.1);
            }

            background-color: rgba($color: #ff0000, $alpha: 0.1);
          }
          &__headingred {
            margin: 18px 0 18px 0;
            font-size: 16px;
            text-align: right;
            font-weight: normal;
            color: #ff0000;
          }

          &:hover {
            cursor: pointer;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
            background-color: rgba($color: #ff0000, $alpha: 0.3);
          }
          &__image {
            margin: 10px 10px;
            display: flex;
            align-items: center;

            &__img {
              color: #ff0000;
            }
          }
        }

        &__container {
          display: flex;
          align-items: center;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;

          &:hover {
            cursor: pointer;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
            background-color: rgba($color: #ababab, $alpha: 0.1);
          }

          &__heading {
            margin: 18px 36px 18px 0;
            font-size: 16px;
            text-align: right;
            font-weight: normal;
            color: var(--grey-800);
          }

          &__image {
            margin: 10px 10px;
            display: flex;
            align-items: center;

            
          }
          &__imageblue {
            color: var(--grey-800);
          }
        }
      }
    &__dots {
        margin-bottom: auto;
        margin-top: 10px;
        font-size: 24px;
        display: inline;

        &:hover {
          cursor: pointer;
        }
      }
  
  }
  

  @keyframes popup {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .hide {
    animation: close 0.15s forwards;
  }
  
  @keyframes close {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }