.main {
  &__identity {
    display: flex;
    // justify-content: center;
    align-items: center;
    border: 4px solid #e4e7eb;
    border-radius: 6px;
    position: relative;
    background-color: #fff;

    &__text {
      &__heading {
        font-size: 20px;
        font-weight: 700;
        color: var(--grey-800);
        margin: 0;
      }

      &__website {
        font-size: 16px;
        font-weight: bold;
        color: var(--grey-300);
        margin: 5px 0 0 0;
      }
    }
    &__imagecontainer {
      border-radius: 6px;
      width: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 6px;
      &__image {
        width: 44px;
        height: 44px;
        
        border: 0;
        box-shadow: none;
        border-radius: 6px;
        margin-bottom: -3px;
      }
    }

    &__action {
      margin-left: auto;
      padding: 36px 0 36px 0;
      display: flex;
      align-items: center;
      &__button {
        margin-right: 20px;
        width: 185px;
        height: 50px;
        font-size: 14px;
        

        
      }
      &__disabled{
        margin-right: 20px;
        
        cursor: no-drop;
      }
    }
  }
}
.phone {
  &__identity {
    padding-left: 0px;
    align-items: center;
    border: 4px solid #e4e7eb;
    border-radius: 6px;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    margin: 5px;
    padding-left: 6px;
    padding-top: 5px;

    &__action {
      width: 100%;
      margin-bottom: 14px;
      display: flex;
      // background-color: red;
      align-items: center;
      // justify-content: end;
      &__button {
        display: block;
        margin-left: auto;
        cursor: pointer;
        margin-right: 14px;
        border-radius: 6px;
        border: none;
        height: 50px;
        font-size: 14px;
        width: 180px;
        color: var(--primary-color);
        font-weight: 600;
        background-color: rgba($color: #ef7b0f, $alpha: 0.2);
        transition: all 0.2s;

        &:hover {
          background-color: rgba($color: #ef7b0f, $alpha: 0.3);
        }
      }
      &__disabled {
        display: block;
        margin-left: auto;
        margin-right: 14px;
        border-radius: 6px;
        border: none;
        height: 50px;
        font-size: 14px;
        width: 150px;
        color: var(--primary-color);
        font-weight: 600;
        background-color: rgba($color: #ef7b0f, $alpha: 0.2);
        transition: all 0.2s;
        cursor: no-drop;
        &:hover {
          background-color: rgba($color: #ef7b0f, $alpha: 0.21);
        }
      }
    }

    &__top {
      display: flex;
      align-items: center;
      width: 100%;

      &__imagecontainer {
        display: block;
        margin: 14px 0 0 13px;
        &__image {
          width: 44px;
          height: 44px;
          margin: auto;
          border: 0;
          box-shadow: none;
          
        }
      }
    }
    &__text {
      width: 100%;
      max-width: 93%;
      margin-left: 5gipx;
      
      &__heading {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 18px;
        margin-bottom: 4px;
        color: var(--grey-800);
        
      }
      &__email {
        font-size: 16px;
        margin-top: 0px;
        color: var(--grey-300);
        margin-bottom: 16px;
      }
    }
  }
}
