.container {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-top: -60px;
  &__header {
    margin: auto;
    display: flex;
    width: 55%;
    margin-top: 15px;
    // margin-top: 50px;

    &__phone {
      &__heading {
        font-size: 24px;
        color: var(--grey-800);
        margin-left: 5px;
      }
      &__button {
        margin: auto 0 auto auto;
        background-color: #f9f9f9;
        border: none;
        border-radius: 8px;
        // height: fit-content;
        // width: fit-content;
        display: flex;
        // gap: 8px;
        // padding: 12px 20px 12px 16px;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;

        & div {
          height: 100%;
          width: 100%;
          // background-color: #E4E7EB;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        cursor: pointer;
        transition: all 0.2s;
      }
    }

    &__heading {
      font-size: 28px;
      font-weight: 700;
      color: var(--grey-800);
      // margin-top: 70px;
    }

    &__button {
      // margin: auto 0 auto auto;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      background-color: var(--primary-color);
      border: none;
      border-radius: 8px;
      // margin-right: -6px;
      // height: fit-content;
      // width: fit-content;
      display: flex;
      // gap: 8px;
      // padding: 12px 20px 12px 16px;
      height: 50px;
      width: 50px;
      justify-content: center;
      align-items: center;
      // margin-top: 55px;

      & div {
        height: 100%;
        width: 100%;
        // background-color: #E4E7EB;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background-color: var(--primary-color-dark);
      }
    }
  }
  &__masterbanner {
    display: flex;
    margin: 36px auto 20px auto;
    width: 55%;
    align-items: center;
    background-color: rgba($color: #ef7b0f, $alpha: 0.2);
    border-radius: 6px;
    padding: 0 0 0 5px;
    &__para {
      padding: 10px 0;
      width: 80%;
      font-size: 16px;
      margin-left: 15px;
      color: var(--primary-color);
    }
    &__button {
      margin-left: auto;
      margin-right: 15px;
      padding: 8px 46px 8px 46px;
    }
  }
  &__identities {
    margin: 0 auto 0 auto;
    display: flex;
    flex-flow: column;
    gap: 12px;
    width: 55%;

  }
}

@media (max-width: 1300px) {
  .container {
    &__header {
      width: 60%;
    }
    &__identities {
      width: 60%;
    }
    &__masterbanner {
      width: 60%;
    }
  }
}
@media (max-width: 1100px) {
  .container {
    &__header {
      width: 80%;
    }
    &__identities {
      width: 80%;
    }
    &__masterbanner {
      width: 80%;
    }
  }
}
@media (max-width: 850px) {
  .container {
    &__header {
      width: 90%;
    }
    &__identities {
      width: 90%;
    }
    &__masterbanner {
      width: 90%;
    }
  }
}
.no {
  text-align: center;
  color: var(--grey-800);
}

.frown {
  margin-top: 50px;
  color: var(--primary-color)
}

.nocontainer {
  margin: 0 auto;
  width: 60vw;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hide {
  animation: close 0.4s forwards;
}

@keyframes close {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

.thats-it{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: var(--primary-color);
  font-weight: 700;
}