.main {
  width: 100%;
  display: flex;
  flex-flow: column;

  &__header {
    display: flex;
    width: 100%;

    &__back {
      cursor: pointer;
      margin: auto auto auto 0;
    }

    &__delete {
      
      margin-left: 12px;
     
      
    }
  }

  &__body {
    margin: 20px 0px;
    margin-bottom: 20px;
    padding: 30px 30px 30px 30px;
    border-radius: 6px;
    background-color: white;

    &__info {
      display: flex;
      width: 100%;

      &__from {
        display: flex;
        gap: 5px;
        color: var(--primary-color);
        font-weight: 700;

        p {
          margin: auto 0 auto 0;
          color: var(--grey-800) !important;
          font-weight: 700;
        }
      }

      &__date {
        margin: auto 0 auto auto;

        color: #848484;
        font-weight: 600;
      }
    }

    &__subject {
      margin-top: 14px;
      font-size: 22px;
      color: var(--grey-800);
      font-weight: 700;
      text-overflow: ellipsis;
      max-height: 100%;
      overflow: hidden;
      white-space: nowrap;
    }

    &__content {
      margin-top: 20px;
      border-radius: 6px;
    }

    &__attachments {
      display: flex;
      flex-flow: column;
      width: 100%;
      margin: 20px 0px 0 0px;
      gap: 20px;

      &__heading {
        margin: auto auto auto 0;
        font-size: 18px;
        color: #6b6b6b;
        font-weight: 700;
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);

        gap: 20px;

        &__item {
          border: 3px solid #e4e7eb;
          border-radius: 6px;
          width: 100%;
          display: flex;
          // gap: 10px;
          position: relative;
          // justify-content: center;

          &:hover {
            cursor: pointer;
          }
          &__top {
            display: flex;
            gap: 2px;
            margin-left: 6px;
            margin: 20px 10px 20px 10px;
          }
          &__icon {
            color: #656565;
            margin-right: 12px;

            width: 20px;
            margin-top: 1px;
            // height: 32px;
          }
          &__info {
            display: flex;
            flex-flow: column;
            width: 70%;
            height: 100%;
            justify-content: center;

            &__name {
              color: #3e4c59;
              font-weight: 600;
              max-height: 200%;
              // max-width: 90%;
              max-width: 120px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &__bottom {
              &__size {
                color: #888888;
                font-weight: 600;
                font-size: 14px;
                margin-top: 4px;
              }
              &__download {
                bottom: 0px;
                right: -25px;
                position: absolute;
                margin-right: 30px;
                color: var(--grey-300);
                transition: all 0.2s;
                &:hover {
                  color: var(--grey-800);
                }
              }
            }
          }
        }
      }
    }
  }
}
.phone {
  width: 100%;
  display: flex;
  flex-flow: column;

  &__header {
    display: flex;
    width: 100%;

    &__back {
      cursor: pointer;
      margin: auto auto auto 0;
    }

    &__delete {
     
      margin-left: 12px;
     

     
    }
  }

  &__body {
    margin: 20px 0px;
    margin-bottom: 80px;
    padding: 30px 30px 30px 30px;
    border-radius: 6px;
    background-color: white;

    &__info {
      display: flex;
      flex-flow: column;
      width: 100%;

      &__from {
        display: flex;
        gap: 5px;
        color: var(--primary-color);
        font-weight: 700;
        flex-flow: column;
        &__text {
          &__color {
            margin: auto 0 auto 0;
            color: var(--grey-800) !important;
            font-weight: 700;
          }
        }
      }

      &__date {
        margin: auto 0 auto auto;

        color: #848484;
        font-weight: 600;
      }
    }

    &__subject {
      margin-top: 14px;
      font-size: 22px;
      color: var(--grey-800);
      font-weight: 700;
    }

    &__content {
      margin-top: 10px;
      border-radius: 6px;
    }

    &__attachments {
      display: flex;
      flex-flow: column;
      width: 100%;
      margin: 20px 0px 0 0px;
      gap: 20px;

      &__heading {
        margin: auto auto auto 0;
        font-size: 18px;
        color: #6b6b6b;
        font-weight: 700;
      }

      &__list {
        display: grid;
        &__item {
          border-bottom: 1px solid #c4c4c4;

          width: fit-content;
          display: flex;
          // gap: 10px;
          position: relative;
          // justify-content: center;

          &:hover {
            cursor: pointer;
          }
          &__top {
            display: flex;
            align-items: center;
            gap: 2px;
            margin-left: 6px;
            width: 100%;
            margin: 10px 6px;
          }
          &__icon {
            color: #656565;
            margin-right: 8px;
            height: 20px;
            width: 20px;
            margin-top: 1px;
            // height: 32px;
          }
          &__info {
            display: flex;

            &__name {
              width: 100%;
              color: #3e4c59;
              font-weight: 600;

              // max-width: 90%;
              max-width: 60%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              @media screen and (max-width: 530px) {
                max-width: 40%;
              }
            }
            &__bottom {
              &__size {
                display: none;
                color: #888888;
                font-weight: 600;
                font-size: 14px;
                margin-top: 4px;
              }
              &__download {
                height: 100%;
                margin: auto 0;
                color: var(--grey-300);
                transition: all 0.2s;
                display: flex;
                margin-top: 4px;
                &:hover {
                  color: var(--grey-800);
                }
                &__icon {
                  margin: auto;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}
