.main {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 40px;

  &__phone {
    &__dots {
      display: block;
      cursor: pointer;
      margin-left: auto;
      margin-right: 4px;
    }
  }
  &__dotmenu {
    position: absolute;
    right: 8px;
    top: 10px;
    background-color: #fff;
    width: 200px;
    display: flex;
    flex-flow: column;

    border-radius: 6px;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.25);
    transform-origin: top right;
    animation: popup 0.15s forwards;
    transition: all 0.3s;

    &__redcontainer {
      gap: 10px;
      display: flex;
      align-items: center;
      background-color: rgba($color: #ff0000, $alpha: 0.2);

      transition: all 0.2s;

      height: 56px;
      padding: 0px 12px;

      &__deleting {
        display: flex;
        align-items: center;
        cursor: default;
        &:hover {
          background-color: rgba($color: #ff0000, $alpha: 0.1);
        }

        background-color: rgba($color: #ff0000, $alpha: 0.1);
      }
      &__headingred {
        font-size: 16px;
        text-align: right;
        font-weight: normal;
        color: #ff0000;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba($color: #ff0000, $alpha: 0.3);
      }
      &__image {
        display: flex;
        align-items: center;
        margin-top: 3px;

        &__img {
          color: #ff0000;
        }
      }
    }

    :first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    :last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &__container {
      display: flex;
      height: 56px;
      align-items: center;
      gap: 10px;

      padding: 0px 16px;
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
        background-color: rgba($color: #ababab, $alpha: 0.2);
      }

      &__heading {
        font-size: 16px;
        text-align: right;
        font-weight: normal;
        color: var(--grey-800);
      }

      &__image {
        display: flex;
        align-items: center;
      }
      &__imageblue {
        color: var(--grey-800);
      }
    }
  }
  &__dots {
    margin-bottom: auto;
    margin-top: 10px;
    font-size: 24px;
    display: inline;

    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes popup {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.hide {
  animation: close 0.15s forwards;
}

@keyframes close {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
