.lds-ring {
  display: inline-block;
  position: relative;
  width: calc(var(--size-ratio) * 80px);
  height: calc(var(--size-ratio) * 80px);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: calc(var(--size-ratio) * 64px);
  height: calc(var(--size-ratio) * 64px);
  margin: calc(var(--size-ratio) * 8px);
  border: calc(var(--size-ratio) * 8px) solid var(--loader-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--loader-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
