.pricing {
    
    &__stdcard {
        height: 400px;
        background-color: #fff;
        flex-basis: 100%;
        border-radius: 6px;
        border: 3px solid #E4E7EB;
        &__heading {
            margin-left: 25px;
            color: var(--grey-800);
        }
        &__features {
            margin-left: 25px;
            margin-right: 25px;
            &__feature {
                display: flex;
                align-items: center;
                &__icon {
                    color: var(--grey-800);
                }
                &__name {
                    margin-left: 10px;
                    color: var(--grey-800);
                }
            }
        }
    }
    &__highlightcard {
        border: 3px solid var(--primary-color);
        border-radius: 6px;
        flex-basis: 100%;
        height: 400px;
        background-color: var(--primary-color);

        &__heading {
            margin-left: 25px;
            color: #FFF;
        }
        &__features {
            margin-left: 25px;
            margin-right: 25px;
            &__feature {
                display: flex;
                align-items: center;
                &__icon {
                    color: #fff;
                }
                &__name {
                    margin-left: 10px;
                    color: #fff;
                }
            }
        }
    }
}