.secondary {
  padding-right: 34px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  padding-left: 34px;
  font-weight: 600;
  color: var(--primary-color);
  border: 3.5px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-button);
  transition: all 0.2s;
  cursor: pointer;
  height: 50px;
  position: relative;
  overflow: hidden;
  &:hover {
    background-color: var(--primary-button-hover);
  }
}
