.button {
  position: relative;
  overflow: hidden;
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 16px;
  border: none;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  border-radius: 6px;

  &:hover {
    color: var(--primary-color-dark);
    background-color: var(--primary-button);
  }
}
