.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  opacity: 0;
  transition: all 0.3s;
  z-index: -300;
  display: flex;
  flex-flow: column;

  &__header {
    position: absolute;
    padding: 35px;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
    z-index: 5000;

    &__title {
      color: white;
      font-weight: 500;
    }

    &__actions {
      margin: auto 0 auto auto;
      width: fit-content;
      display: flex;
      gap: 20px;

      &__download {
        &__icon {
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.overlay--active {
  display: flex;
  opacity: 1;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.746);
}

.preview {
  display: flex;
  transform: scale(0);
  z-index: 3005;
  transition: all 0.3s;
  max-width: 750px;
  max-height: 700px;
  margin: auto;

  &__file {
    max-width: 100%;
    max-height: 700px;
    border-radius: 6px;
    transition: all 0.3s;
    outline: none;
    @media screen and (max-width: 768px) {
      max-width: 400px;
      max-height: 100%;
    }
  }
}

.preview--active {
  transform: scale(1);
}
