.container {
    margin-top: 20px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    height: 120px;
    &__content {
        margin-left: 30px;
        &__logo {
            transform: scale(1);
        }
        &__copyright {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 16px;
            color: var(--grey-800);
            font-weight: 700;
        }
    }
    &__links {
        
        margin-left: auto;
        display: flex;
        gap: 26px;
        margin-right: 30px;
        color: var(--grey-800);
        margin: 10px 30px 0 auto;
        font-size: 14px;
    }
}