.card {
  flex-basis: 100%;
  display: flex;
  flex-flow: column;
  min-height: 180px;
  max-width: 330px;
 
  background-color: rgba(#FFF, 0.8);
 
  border-radius: 6px;
  padding: 20px 20px 20px 20px;

  &__header {
    &__logo {
      width: 44px;
      height: 44px;
      
    }
  }

  &__content {
    display: flex;
    flex-flow: column;
    &__heading {
      margin-top: 7%;
      &__text {
        font-size: 22px;
        font-weight: 800;
        margin: auto auto auto 0;
        color: var(--grey-800);
      }
    }

    &__body {
      margin: -1.5% auto auto 0;
      &__text {
        font-size: 16px;
        font-weight: 500;
        color: var(--grey-300);
      }
    }
  }
}
