:root {
  --primary-color: #ef7b0f;
  --primary-color-light: #ce8642;
  --primary-color-dark: #da7110;
  --grey-800: #3e4c59;
  --grey-300: #606060;
  --grey-200: #8b8787;

  --toastify-color-success: #ef7b0f;
  --primary-ripple-color: rgba(255, 255, 255, 0.5);
  --secondary-ripple-color: #ef7b0f60;
  --danger-ripple-color: rgba(255, 0, 0, 0.4)
}
