.loader-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}

.thats-it{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: var(--primary-color);
    font-weight: 700;
}