.bottomHeader {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: #F4F4F4;
    height: 70px;
    align-items: center;

    &__icon {
        padding-top: 14px;
        padding-bottom: 9px;
        color: var(--grey-800);
    }
    &__orange {
        padding-top: 14px;
        padding-bottom: 9px;
        color: var(--primary-color);
    }
}