.ripplecontainer {
    
    position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__span {
    transform: scale(0);
    border-radius: 100%;
    position: absolute;
    opacity: 0.75;
    background-color: var(--primary-color-dark);
    animation-name: ripple;
    animation-duration: 600ms;
  }

  
}

@keyframes ripple {
    to {
      opacity: 0;
      transform: scale(2);
    }
  }